p, li {
    color: whitesmoke;
}

body {
    background-color: rgb(16, 16, 31);
}

h1, h2, h3 {
    color:whitesmoke;
}

code, pre {
    color:darkgoldenrod;
    font-size:large;
}

.menu {
    font-style: italic;
    border-collapse: separate;
    border-spacing: 150px 0;
    padding: 20px;
    border-color:ghostwhite;
    border-width:4px;
    background-color:lightgrey;
}

.otroestilo {
    color:blanchedalmond;
}

#ultimoestilo {
    color:red;
}