p {
    color: whitesmoke;
}

body {
    background-color: rgb(16, 16, 31);
}

h1, h2 {
    color:whitesmoke;
}

.menu {
    font-style: italic;
    border-collapse: separate;
    border-spacing: 150px 0;
    padding: 40px;
}